* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color:black;
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.logo{
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.container{
    position: relative;
    display: inline-block;
    background-image: url('cpu.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container1{
    position: relative;
    display: inline-block;
    background-image: url('asus.jfif');
    background-size: cover;
    background-position: center;
    padding: 80px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container2{
    position: relative;
    display: inline-block;
    background-image: url('GPU.jpeg');
    background-size: cover;
    background-position: right;
    padding: 80px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container3{
    position: relative;
    display: inline-block;
    background-image: url('int.png');
    background-size: cover;
    background-position: center;
    padding: 80px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container4{
    position: relative;
    display: inline-block;
    background-image: url('790.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header h1 {
    text-align: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section p, section ul {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}